<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>My Finance</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- Navigation -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow"
    >
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          <svg
            class="bi bi-cash-stack"
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"
              clip-rule="evenodd"
            />
          </svg>
          MY FINANCE</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}
              <li class="nav-item">
               <a href="{% url 'profile-url' %}" class="nav-link">
                 <svg class="bi bi-person"
                         width="1.5em"
                         height="1.5em"
                         viewBox="0 0 16 16"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1
                            1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168
                            1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8
                            7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                 </svg>
                 {{ user }}</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reviews' %}" >Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transactions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'income-all' %}">Income</a>
                <a class="dropdown-item" href="{% url 'expense-all' %}">Expenses</a>
                <a class="dropdown-item" href="{% url 'bill-all' %}">Bills</a>
              </div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add transaction
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'income-new' %}">Add income</a>
                <a class="dropdown-item" href="{% url 'expense-new' %}">Add expense</a>
                <a class="dropdown-item" href="{% url 'bill-new' %}">Add bill</a>
              </div>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Statistics
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'statistics-income' %}">Income</a>
                <a class="dropdown-item" href="{% url 'statistics-expenses' %}">Expenses</a>
                <a class="dropdown-item" href="{% url 'statistics-bills' %}">Bills</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
               <a href="{% url 'reviews' %}" class="nav-link">Reviews</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'register-url' %}" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'login' %}?next={{ request.path }}" class="nav-link">Log In</a>
            </li>
            {% endif %}
          </ul>

          <form
            class="form-inline my-2 my-lg-0"
            action="{% url 'search' %}"
            method="get"
          >
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search_text"
            />
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

